.title {
  display: block;
  margin-top: 30px;
  padding: 16px 24px;
  .mainTitle {
    display: block;
    text-align: start;
    font-weight: 600;
    height: 24px;
    size: 18px;
  }
  .subTitle {
    display: block;
    text-align: start;
    width: 327px;
    height: 20px;
    size: 14px;
    margin-top: 5px;
    color: #707070;
  }
}

.contents {
  display: block;
  width: 375px;
  .how {
    display: flex;
    padding: 16px 24px;
    .howTitle {
      display: block;
      width: 120px;
      height: 20px;
      text-align: start;
    }
    .howInfo {
      display: block;
      width: 208px;
      height: 20px;
      text-align: start;
    }
  }

  .period {
    display: flex;
    padding: 16px 24px;
    .periodTitle {
      display: block;
      width: 120px;
      height: 20px;
      text-align: start;
    }
    .periodInfo {
      display: block;
      width: 208px;
      height: 20px;
      text-align: start;
    }
  }

  .point {
    display: flex;
    padding: 16px 24px;
    .pointTitle {
      display: block;
      width: 120px;
      height: 20px;
      text-align: start;
    }
    .pointInfo {
      display: block;
      width: 208px;
      height: 20px;
      text-align: start;
    }
  }
}
