.itemContainer {
  width: 375px;
  height: 444px;
  .head {
    height: 24px;
    font-weight: 600;
    font-size: 18px;
    color: #171717;
    text-align: start;
    margin-left: 24px;
  }
  .imgContainer {
    width: 327px;
    height: 404px;
    margin-left: 24px;
    margin-right: 24px;
    .img {
      width: 327px;
      height: 380px;
      border: 1px solid black;
    }
  }
}
