.participants {
  .title {
    display: block;
    width: 375px;
    height: 24px;
    font-weight: 600;
    font-size: 18px;
    text-align: start;
    padding: 0px 24px;
  }
  .info {
    .img {
      width: 120px;
      height: 120px;
      border-radius: 12px;
      background-color: yellowgreen;
      margin-left: 24px;
    }
    .name {
      display: block;
      width: 120px;
      height: 20px;
      font-weight: 600;
      span {
        font-weight: 600;
        width: 49px;
        height: 20px;
      }
    }
  }
}
