@import "@/styles/common.scss";

.mainHead {
  width: 100%;
  height: 56px;
  border-bottom: 1px solid $gray_0200_EBEBEB;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}

.name {
  width: 100%;
  height: 26px;
  display: flex;
  align-items: center;
  margin-top: 76px;
  padding: 0 24px;

  .img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #b8bac1;
    margin-right: 5px;
  }

  .nickname {
    font-size: 14px;
    font-weight: 600;
    color: $gray_0700_5C5C5C;
  }

  .petname{
    width: 58px;
    height: 18px;
    background-color: $brand_blue_100_3F54D11A;
    border-radius: 4px;
    color: $brand_blue_200_3F54D1;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
  }

  .date {
    font-size: 12px;
    color: $gray_0600_707070;
    margin-left: 8px;
  }
}

.credit {
  width: 100%;
  height: 34px;
  display: flex;
  font-size: 24px;
  font-weight: 600;
  margin-top: 15px;
  padding: 0 24px;

  img {
    width: 24px;
    height: 24px;
    margin-left: 3px;
  }
}

.shop {
  width: 100%;
  height: 52px;
  margin-top: 5px;
  padding: 0 24px;

  .container {
    width: 327px;
    height: 52px;
    background-color: #f2f4f6;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button {
      height: 100%;
      border: none;
      border-radius: 12px;
      font-size: 14px;
      align-items: center;
      background-color: $gray_0100_F5F5F5;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      // &:hover {
      //   color:#D9DBDE ;
      // }
      // &:active {
      //   color:#B8BAC1 ;
      // }
    }
    .button_right {
      @extend .button;
      color: $gray_0500_999999;
    }
  }
}

.event {
  width: 327px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  padding: 0 24px;

  .head {
    width: 327px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 0 24px;

    span {
      font-size: 18px;
      font-weight: 600;
    }
  }

  .body {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    gap: 16px;

    .section {
      width: 156px;
      height: 188px;

      .img {
        width: 156px;
        height: 156px;
        border-radius: 12px;
        border: 1px solid red;
        margin-bottom: 8px;
      }

      .text {
        width: 156px;
        height: 40px;
        padding: 0px, 0px, 2px, 0px;
        display: flex;
        flex-direction: column;
        align-items: start;

        .title {
          height: 20px;
          font-size: 14px;
          font-weight: 600;
        }
        .subtitle {
          height: 20px;
          font-size: 12px;
          color: $gray_0600_707070;
          margin-top: 4px;
        }
      }
    }
  }
}

.daily_head {
  width: 375px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;

  .left_item {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }

    .head {
      font-size: 18px;
      font-weight: 600;
      margin-left: 4px;
    }
  }

  .sort {
    font-size: 12px;
    color: $gray_0600_707070;
  }
}

.daily_body {
  width: 327px;
  height: 152px;
  margin-top: 15px;
  padding: 0 24px;

  .challenge {
    width: 327px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    .img {
      width: 48px;
      height: 48px;
      border-radius: 9px;
      background-color: #b8bac1;
    }

    .main {
      margin-right: 30%;

      .title {
        height: 20px;
        font-size: 14px;
        font-weight: 600;
      }
      .time {
        width: 74px;
        height: 18px;
        font-size: 12px;
        background: #ffba081a;
        color: #ffba08;
        display: flex;
        justify-content: center;
        align-items: center;

        .vectorWrapper {
          position: relative;
          display: inline-block; 
        }
        
        .square {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 3px;
          height:3px;
          transform: translate(-120%, -50%);
          background-color:#ffba08; 
          border-radius: 1px;
        }
      }
    }

    .participate_on {
      width: 66px;
      height: 30px;
      font-size: 12px;
      border: none;
      border-radius: 8px;
      background: $brand_blue_100_3F54D11A;
      color: $brand_blue_200_3F54D1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .participate_off {
      width: 66px;
      height: 30px;
      font-size: 12px;
      border: none;
      border-radius: 8px;
      background: $gray_0300_D6D6D6;
      color: $gray_0600_707070;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
    }
  }
}

.bonus {
  width: 327px;
  height: 93px;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  padding: 0 24px;

  .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    align-self: flex-start;
  }
  .button {
    width: 327px;
    height: 51px;
    border: none;
    border-radius: 12px;
    background: $brand_blue_200_3F54D1;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
  }
}
