//컬러 추가 예정

#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
}
.background {
  width: 375px;
}
.content {
  width: 375px;
  height: 100%;
  background-color: white;
  position: fixed;
  right: 300px;
  padding: 0 24px 100px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}
