//컬러 추가 예정

#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
}
.background {
  width: 375px;
}
.content {
  width: 375px;
  height: 100%;
  background-color: white;
  position: fixed;
  right: 300px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

$gray_0100_F5F5F5: #f5f5f5;
$gray_0200_EBEBEB: #ebebeb;
$gray_0300_D6D6D6: #d6d6d6;
$gray_0500_999999: #999999;
$gray_0600_707070: #707070;
$gray_0700_5C5C5C: #5c5c5c;
$gray_0800_333333: #333333;
$gray_0900_171717: #171717;

$brand_blue_100_3F54D11A: #3f54d11a;
$brand_blue_200_3F54D1: #3f54d1;

$red_accent_F42A3B: #f42a3b;

$base_black_000000: #000000;
$black_191919: #191919;
