@import '@/styles/common.scss';

.contain {
  width: 100%;
  height: 100%;
  position: relative;
  .header {
    width: 100%;
    height: 56px;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.1px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    .icon {
      position: absolute;
      left: 25px;
      top: 50%;
      transform: translate(0, -50%);
      color: #707070;
      cursor: pointer;
    }
  }
  .tab {
    width: 100%;
    height: 38px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;

    .active {
      width: 30%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid black;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.1px;
      color: #171717;
    }
    .unactive {
      width: 30%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.1px;
      color: #333333;
    }
  }
}
