@import "@/styles/common.scss";

.main-tab {
  width: 375px;
  height: 65px;
  background-color: #fff;
  display: flex;
  border-top: 1px solid $gray_0200_EBEBEB;
  position: fixed;
  right: 300px;
  bottom: 0;
}
.main-tab-item {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;
  gap: 6px;
  margin-bottom: 5px;
  color: $gray_0600_707070;

  &.active {
    color: $brand_blue_200_3F54D1;
  }
}
