.main-tab {
  width: 375px;
  height: 74px;
  background-color: lightgray;
  display: flex;

  position: fixed;
  right: 300px;
  bottom: 0;
}
.main-tab-item {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
