@import '@/styles/common.scss';

.head {
  width: 100%;
  height: 56px;
  border-bottom: 1px solid $gray_0200_EBEBEB; 
	display: flex;
  align-items: center;
	justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  .eorl {
    width: 30px;
  }
}

.name {
  width: 100%;
  height: 26px; 
	display: flex;
	align-items: center;
  justify-content: flex-start;
  margin: 4px 0;
  padding: 0 24px;

	.img {
		width: 26px;
		height: 26px;
		border-radius: 50%;
		background-color: #B8BAC1;
		margin-right: 5px;
	}

	.title {
		font-size: 14px;
		font-weight: 600;
	}

	.date {
		font-size: 12px;
		color: $gray_0600_707070;
		margin-left: 8px;
	}
}

.credit {
	width: 100%;
	height: 34px;
	display: flex; 
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
  padding: 0 24px;

	img {
		width: 24px;
		height: 24px;
		margin-left: 3px;
	}
}

.ad {
  width: 327px;
  height: 175px;
  background-color: $gray_0600_707070;
  border-radius: 12px;
  margin-bottom: 16px;
  margin-left: 24px;
  position: relative;

  .banner {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: 115px;
    left: 16px;
  }

  .banner_sub {
    font-size: 14px;
    color: #DBDBDB;
    position: absolute;
    top: 140px;
    left: 16px;
  }
}

.p_title {
  width: 327px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
  padding: 0 24px;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid green;
  padding: 0 24px;
  .info {
    width: calc(50% - 10px);
    height: 202px;
    border: 1px solid red;
    margin-bottom: 10px;

    .box1 {
      width: 156px;
      height: 156px;
      background: $gray_0100_F5F5F5;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;

      .box2 {
        width: 110px;
        height: 110px;
        background: blue;
        border-radius: 12px;
      }
    }
    .text {
      width: 156px;
      height: 38px;
      line-height: 18px;

      .price {
        height: 20px;
        .sale {
          font-size: 14px;
          font-weight: 600;
          color: $red_accent_F42A3B;
        }
        .realPrice {
          font-size: 14px;
          font-weight: 600;
          color: $black_191919;
        }
      }
      .sub {
        height: 18px;
        font-size: 12px;
        color: $gray_0700_5C5C5C;
      }
    }
  }
}

