@import "@/styles/common.scss";

.all {
  position: relative;
  width: 100%;
  padding-top: 50px;

  .selectarea {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .category {
      width: 327px;
      height: 52px;
      border-radius: 12px;
      border: 1px solid $gray_0200_EBEBEB;
      background-color: $gray_0100_F5F5F5;
      padding: 16px;
      margin: 24px 0;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.1px;
      outline: none;
      option {
        color: $gray_0900_171717;
      }
    }
  }
  .photoarea {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.1px;
    font-weight: bold;
    padding: 0 24px;
    .photo {
      text-align: left;
      margin-bottom: 8px;
    }
    .upload {
      width: 68px;
      height: 68px;
      border: 1px solid $gray_0200_EBEBEB;
      background-color: $gray_0100_F5F5F5;
      border-radius: 12px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        width: 20px;
        height: 20px;
      }
    }
  }
  .titlearea {
    width: 100%;
    margin: 24px 0;
    padding: 0 24px;
    position: relative;
    .title {
      text-align: left;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.1px;
      font-weight: bold;
      margin-bottom: 8px;
    }

    input {
      width: 327px;
      height: 52px;
      background-color: $gray_0100_F5F5F5;
      border: none;
      border-radius: 12px;
      font-size: 14px;
      color: $gray_0600_707070;
      line-height: 20px;
      letter-spacing: -0.1px;
      outline: none;
      padding: 16px;
    }
  }
  .textarea {
    width: 100%;
    padding: 0 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    .text {
      text-align: left;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.1px;
      font-weight: bold;
    }
    textarea {
      width: 327px;
      height: 250px;
      background-color: $gray_0100_F5F5F5;
      border: none;
      border-radius: 12px;
      resize: none;
      outline: none;
      padding: 16px;
      font-size: 14px;
      color: $gray_0600_707070;
      line-height: 20px;
      letter-spacing: -0.1px;
    }
  }
  .btnarea {
    width: 100%;
    background-color: $base_white_ffffff;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 327px;
      height: 54px;
      border-radius: 12px;
      border: none;
      background-color: rgba(63, 84, 209, 0.1);
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.1px;
      color: $brand_blue_200_3F54D1;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
