.modalHead {
  height: 64px;
  border-bottom: 0.6px solid #ededef;
  display: flex;
  span {
    display: block;
    // width: 62px;
    height: 24px;
    font-weight: 600;
    font-size: 18px;
    margin: 32px 0px 8px 24px;
  }
}

.text {
  margin-top: 16px;
  height: 374px;
}

.modalBottom {
  height: 86px;

  button {
    width: 319px;
    height: 54px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    background-color: #3f54d1;
    margin: 16px;
    span {
      width: 87px;
      height: 22px;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: -0.1px;
      color: #f5f5f5;
    }
  }
}
