.nameContainer {
  margin-top: 24px;
  .userName {
    height: 22px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.1px;
    text-align: start;
  }
  .userNameInput {
    width: 327px;
    height: 52px;
    border-radius: 12px;
    border: 1px;
    border-color: #ebebeb;
    padding: 16px;
    gap: 10px;
    color: #171717;
    background-color: #ebebeb;
    font-size: 14px;
    margin-top: 8px;
  }
}
