.form_agreement_box {
  margin-top: 24px;
  input[type="checkbox"] {
    display: none;
  }
  input[id="all-check"] + label {
    background: url("@/assets/check_circle_gray.svg") no-repeat 0px / contain;
    background-size: 24px;
  }
  input[id="all-check"]:checked + label {
    background: url("@/assets/check_circle_blue.svg") no-repeat 0px / contain;
    background-size: 24px;
  }
  input[id="all-check"] + label > span {
    padding-left: 28px;
  }
  input[class="check"] + label {
    background: url("@/assets/check_circle_gray.svg") no-repeat 0px / contain;
    background-size: 18px;
  }
  input[class="check"]:checked + label {
    background: url("@/assets/check_circle_blue.svg") no-repeat 0px / contain;
    background-size: 18px;
  }
  input[class="check"] + label > span {
    padding-left: 28px;
  }
  .form_agreement_all {
    display: flex;
    margin-bottom: 8px;
    .agreementLabel {
      height: 20px;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.1px;
    }
  }
  .form_agreement_item {
    display: flex;
    width: 327px;
    height: 36px;
    justify-content: start;
    align-items: center;
    position: relative;
    .agreementLabel {
      width: 309px;
      color: #707070;
      font-size: 14px;
      margin-left: 10px;
      text-align: center;
      display: flex;
      .agreeTitle {
        justify-content: start;
        align-items: center;
        margin-left: 28px;
      }
      .red {
        margin-left: -28px;
        color: #eb4b62;
      }
    }
    .rightArrow {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(50%);
      cursor: pointer;
    }
  }
}
