@import '@/styles/common.scss';

.title {
  display: block;
  width: 375px;
  height: 24px;
  text-align: start;
  padding: 0px 24px;  
  margin-top: 40px;
  @include title_bold_18px;
}
.participants {
  height: 190px;
  display: flex;
  padding: 0 24px;
  gap: 16px;
  overflow-x:auto;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
  .noJoin{
    margin: auto 0;
  }
  .info {
    .img {
      width: 120px;
      height: 120px;
      border-radius: 12px;
      margin-top: 10px;
    }
    .name {
      width: 120px;
      height: 20px;
      margin-top: 10px;
      @include title_bold_14px;
    }
  }
}
