.bsContainer {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // margin-bottom: 10px;
}

.bsHead {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 28px 119px 16px;
  height: 24px;
  .bsTitle {
    display: block;
    width: 140px; // 133px로 하면 한줄로 안됨
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.1px;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  .closeIcon {
    width: 24px;
    height: 24px;
    position: absolute;
    cursor: pointer;
    right: 10px;
  }
}

.container {
  margin-top: 24px;
  width: 319px;
  height: 206px;
  margin-left: 16px;
}
.addImg {
  width: 124px;
  height: 124px;
  border-radius: 20px;
  border: 1px solid black;
  line-height: 24px;
  background-color: #d9d9d9;
  position: relative;
  // margin-top: 24px;
  margin-left: 99.5px;
  margin-right: 99.5px;
  // padding: 0 99.5px 86px;
  cursor: pointer;
  .addIcon {
    display: block;
    position: absolute;
    border-radius: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .saveImg {
    width: 126px;
    height: 126px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.button {
  width: 327px;
  height: 48px;
  border-radius: 10px;
  color: #3f54d1;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 32px auto;
}
